
*, *::after, *::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: "Permanent Marker", cursive;
    height: 900px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.game-container .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: antiquewhite;
    padding: 10px 50px;
    border-radius: 20px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, 100px); 
}

.game .cell {
    border: 2px solid #000;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
}

.game .borderless {
    border: 0;
}

.game .part-borderA {
    border-top: 0;
    border-bottom: 0;
}

.game .part-borderB {
    border-top: 0;
    border-bottom: 0;
}

.game .part-borderC {
    border-right: 0;
    border-left: 0;
}

.game .part-borderD {
    border-left: 0;
    border-right: 0;
}

.game-container .game-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-container .game-status button {
    padding: 8px 20px;
    border-radius: 10px;
    border: 0;
    /* border: 1px solid #000; */
    cursor: pointer;
    background-color: blueviolet;
    color: #fff;
}

.game-container .game-status .reset-btn {
    background-color: red;
    color: #fff;
}

.game-container .game-status .reset-btn:hover {
    background-color: red;
    color: #000;
}

.game-container .game-status button:hover {
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
    background-color: blueviolet;
    color: #000;
    box-shadow: 0 6px 0px -3px rgba(0, 0, 0, 01);   
}

